#map{
  float:left;
  width:100%;
  height:100%;
  font-family: "IBM Plex Mono";
}
#modalNav{
  float:left;
  width: 55px;
  height: auto;
  top:0px;
  left:0px;
  padding: 2px 5px;
  position:absolute;
  z-index:101;
  background:rgba(0,0,0,0.6);
  border-radius:0px 0px 7px;
}
#modalNav.windows{
  float:right;
  right:0px;
  z-index:102;
  left:auto;
  width:78px;
  padding:0;
  border-radius: none;
}

#modalNav .optionButton{
  width: 14px;
  height:14px;
  border-radius:14px;
  font-size:12px;
  line-height: 12px;
  text-align: center;
  float:left;
  margin: 11px 2px;
  color:rgba(51,51,51,0.6);
  cursor:pointer;
}
#modalNav.windows .optionButton{
  float:right;
  width: 24px;
  height: 24px;
  line-height: 22px;
  font-size:14px;
  border-radius:0px;
  margin: 0;
  border: 1px solid #000;
  color:rgba(0,0,0,1.0);
}

#modalNav.linux .notActive, #modalNav:not(.windows) .notActive{
  background: -webkit-linear-gradient(top, #b7b7b7 0%,#848484 63%,#848484 100%);
  opacity:0.5;
  cursor:default;
}

#closeMap{
  width: 14px;
  height:14px;
  border-radius:14px;
  font-size:12px;
  line-height: 12px;
  text-align: center;
  float:left;
  margin: 11px 2px;
  color:rgba(51,51,51,0.6);
  cursor:pointer;
  background:#FF605C;
}

#closeMap.windows{
  float:right;
  width: 24px;
  height: 24px;
  line-height: 22px;
  font-size:14px;
  border-radius:0px;
  margin: 0;
  border: 1px solid #000;
  color:rgba(0,0,0,1.0);
  background:rgba(51,51,51,0.8);
  color:#ccc;
  top:0;
  right:0;
}
#modalNav.windows .optionButton{
  background:rgba(255,255,255,0.1);
  color:#ccc;
}
#modalNav.windows .optionButton.notActive{
  opacity:0.25;
  cursor:default;
}
#closeMap.windows:hover{
  background: rgba(91,91,91,0.8) !important;
  color:rgba(210,210,210,1.0);
}

#modalNav.linux #closeMap{
  background: -webkit-linear-gradient(top, #f29879 0%,#e95420 63%,#e95420 100%);
}
#modalNav.linux #closeMap:hover{
  background: -webkit-linear-gradient(top, #F8CCBC 0%,#e95420 63%,#f29879 100%);
}


/*.mapPopup{
  background:rgba(255,255,255,0.9);
  padding:10px;
}*/
.mapboxgl-popup-close-button{
  font-size:12px;
}
.mapboxgl-popup-content{
  background: rgba(255,255,255,0.85);
  font-family: "IBM Plex Mono";
}
.mapboxgl-popup-tip{
  display:none;
}
.mapPopup .resp{
  word-wrap:break-word;
  padding: 10px;
}
.mapPopup .geoInfo{
  font-weight:600;
  font-size: 16px;
}
.mapPopup textarea{
  outline:none;
  background:rgba(0,0,0,0.02);
  box-shadow:none;
  border: 1px solid #ccc;
  padding: 3px;
  width:auto;
  min-height:77px;
  height:auto;
} 

#legend{
  float:right;
  position:absolute;
  z-index:20;
  bottom: 25px;
  right:5px;
  padding: 0px 5px 2px 5px;
  line-height:14px;
  vertical-align:middle;
  background:rgba(245,245,245,0.8);
  font-size:12px;
  width: auto;
  border: 1px solid rgba(0,0,0,0.25);
}
#legend .item{
  display:block;
  padding: 4px 0px 0px 0px;
}
#legend .swatch{
  border-radius: 14px;
  width:14px;
  height:14px;
  display:inline;
  margin-right:3px;
  border: 1px solid #ccc;
  float:left;
}
.swatch.green{
  background:#00f513;
}
.swatch.grey{
  background:#aaa;
}