@font-face {
	font-family: "Nitti Light";
	font-weight: normal;
	src: url('../fonts/nitti-light-v500.eot') format('embedded-opentype'),
       url('../fonts/nitti-light-v500.woff') format('woff');
}

@font-face {
	font-family: "Nitti Light";
	font-weight: bold;
	src: url('../fonts/nitti-medium-v500.eot') format('embedded-opentype'),
       url('../fonts/nitti-medium-v500.woff') format('woff'),
       url('../fonts/nitti-medium-v500.woff2') format('woff2');
}

@font-face {
  font-family: "IBM Plex Mono";
  font-weight: 400;
  src: url('../fonts/IBMPlexMono-Regular.ttf') format('truetype');
}

@font-face {
  font-family: "IBM Plex Mono";
  font-style: italic;
  font-weight: 400;
  src: url('../fonts/IBMPlexMono-Italic.ttf');
}



@font-face {
  font-family: "IBM Plex Mono";
  font-style: italic;
  font-weight: 600;
  src: url('../fonts/IBMPlexMono-SemiBoldItalic.ttf');
}

@font-face {
  font-family: "IBM Plex Sans";
  font-weight: 400;
  src: url('../fonts/IBMPlexSans-Regular.ttf');
}

@font-face {
  font-family: "IBM Plex Sans";
  font-style: italic;
  font-weight: 400;
  src: url('../fonts/IBMPlexSans-Italic.ttf');
}

@font-face {
  font-family: "IBM Plex Sans";
  font-weight: 600;
  src: url('../fonts/IBMPlexSans-SemiBold.ttf');
}

@font-face {
  font-family: "IBM Plex Sans";
  font-style: italic;
  font-weight: 600;
  src: url('../fonts/IBMPlexSans-SemiBoldItalic.ttf');
}
html,body{
	background:#111;
	overflow: hidden;
	font-family: "IBM Plex Mono";
	margin:0;
	padding:0;
}
input{
	background: rgba(0,0,0,0.15);
	border-radius: 3px;
  padding: 5px 10px;
  font-size: 20px;
  outline: none;
  color:#eee;
  background:#333;
  border:none;
}
select {
    /*-webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;*/
    background: rgba(0,0,0,0.15);
    border: none;
    border-radius: 3px;
    padding: 5px 10px;
    font-size: 20px;
    outline: none;
    color:#eee;
    background:#333;
    font-family:'IBM Plex Sans';
}
input:focus,select:focus{
	background:#444;
}
#introLogo{
	background: #111; 
}
#toolbar{
	float:left;
	position:fixed;
	top:0px;
	left:0px;
	z-index:101;
  width: calc(100% - 62px);
  height: auto;
  margin-left: 62px;
  padding-top: 5px;
  
}
#contentPanel{
	position:absolute;
	width:100%;
	height: calc(100% - 62px);
	z-index:100;
	top:62px;
}
#contentPanel webview{
	width:100%;
	height:100%;
	float:left;
}
#syncInfo{
	position:fixed;
	bottom:0;
	right:0;
	z-index:99;
	padding:5px;
	font-size:12px;
	color:#ccc;
}
#toolbar.windows{
	margin-left:5px;
}
#winBookmarks{
	float: left;
    height: 22px;
    width: 30px;
    font-size: 14px;
    cursor: pointer;
    display: none;
    color: #aaa;
    background: #333;
    padding: 2px 0px 2px 0px;
    line-height: 4px;
    margin: 2px 3px 0;
    margin-left: calc(40% + 5px);
    text-align: center;
    border-radius: 25px;
}
#winBookmarks:hover{
	background:rgba(255,255,255,0.2);
}
#winBookmarks .dot{
	float:left;
	width:100%;
}
#toolbar #dragHandle{
	-webkit-app-region: drag;
	position:absolute;
	z-index:1;
	width:calc(5% + 10px);
	height: calc(100% + 5px);
	right: 0px;
	top:0px;
}
#dragHandle.bookmarksBarShowing{
	height:calc(100% - 22px) !important;
}

#urlQueryWrap{
	position:absolute;
	float:left;
	width:40%;
	z-index:2;
	left: 90px;
}
#miniLogo{
	float: left;
  width: 16px;
  height: 16px;
  position: absolute;
  margin: 7px 11px;
  
}
#miniLogo.active,#miniLogo.secure{
	cursor:pointer;
}
#miniLogo svg{
	width:16px;
	height:16px;
}
#miniLogo svg path{
	fill:#555;
}
#miniLogo.active svg path{
	fill:#ddd;
}
#miniLogo.secure svg path{
	fill:#009900;
}
#urlQuery{
	text-indent:20px;
	float:left;
	font-size:16px;
	font-family:'IBM Plex Mono';
	padding: 2px 25px 2px 10px;
	width: 100%;
	margin: 2px;
  height: 26px;
  line-height: 26px;
  background: #333;
  color: #eee;
  border-radius:16px;
}
#urlQuery:hover, #urlQuery:focus{
	background:#444;
}
#urlNavigation{
	float:left;
	width: auto;
}
#urlNavigation .navButton{
	float:left;
	width:20px;
	height:20px;
	border-radius:50px;
	background:#333;
	color:#999;
	text-align: center;
	padding: 3px;
	font-size:20px;
	line-height:20px;
	margin: 2px;
	cursor:pointer;
}
#urlNavigation .navButton:hover{
	background:#444;
}
#urlNavigation #back{
	transform: rotate(180deg);
}
#appNavigation{
	float:left;
	width: 55px;
	height: auto;
	top:0px;
	left:3px;
	padding: 2px;
	position:absolute;
	z-index:101;
}
#appNavigation.windows{
	float:right;
	right:0px;
	z-index:102;
	left:auto;
	width:105px;
	padding:0;
}
#appNavigation .button{
	width: 14px;
	height:14px;
	border-radius:14px;
	font-size:12px;
	line-height: 12px;
	text-align: center;
	float:left;
	margin: 11px 2px;
	color:rgba(0,0,0,0);
	cursor:pointer;
}
#appNavigation.windows .button{
	float:right;
	width: 24px;
	height: 24px;
	line-height: 22px;
	font-size:14px;
	border-radius:0px;
	margin: 0;
	border: 1px solid #000;
	color:rgba(0,0,0,1.0);
}
#appNavigation.windows .button:hover{
	background: rgba(255,255,255,0.2) !important;
	color:rgba(210,210,210,1.0);
}
#appNavigation.windows .button#full{
	position:relative;
}
#appNavigation.windows .button#full .max{
	position: absolute;
    width: 100%;
    height: 100%;
    line-height: 22px;
    font-size: 12px;
}
#appNavigation.windows .button#full .m1{
	top: -3px;
    left: 2px;
}
#appNavigation.windows .button#full:not(.isFull) .m1{
	display:none;
}
#appNavigation:hover .button{
	color:rgba(0,0,0,0.75);
}
#appNavigation #close{
	background:#FF605C;
}
#appNavigation.linux #close{
	background: -webkit-linear-gradient(top, #f29879 0%,#e95420 63%,#e95420 100%);
}
#appNavigation.linux #close:hover{
	background: -webkit-linear-gradient(top, #F8CCBC 0%,#e95420 63%,#f29879 100%);
}

#appNavigation.linux #hide, #appNavigation.linux #full{
	background: -webkit-linear-gradient(top, #b7b7b7 0%,#848484 63%,#848484 100%);
}

#appNavigation.linux #hide:hover, #appNavigation.linux #full:hover{
	background: -webkit-linear-gradient(top, #dddddd 0%,#848484 63%,#b7b7b7 100%);
}

#appNavigation #hide{
	background:#FFBD44;
}
#appNavigation.windows #close, #appNavigation.windows #hide, #appNavigation.windows #full, #appNavigation.windows #move{
	background:rgba(255,255,255,0.1);
	color:#ccc;
}
#appNavigation #full{
	background:#00CA4E;
}
#appNavigation.windows #move{
	-webkit-app-region: drag;
	cursor:move;
	line-height: 25px;
    vertical-align: middle;
    font-size: 14px;
}

#tabs{
	float:left;
	/*width:auto;*/
	/*max-*/width:calc(55% - 114px);
	height: 30px;
	margin-left:calc(40% + 10px);
	overflow:hidden;
	position:relative;
	z-index:1;
}
.windows #tabs{
	width:calc(55% - 140px);
}
.windows #tabs, .linux #tabs{
	margin-left:0px;
}
#tabs ul{
	float:left;
	margin:0;
	padding:0;
	list-style-type:none;
	position:relative;
	/*min-width: calc(100% - 25px);*/

}

#tabs li, #addTabButton{
	float:left;
	padding: 0px 5px;
	line-height:30px;
	background:rgba(255,255,255,0.1);
	border-right: 1px solid rgba(255,255,255,0.2);
	color:rgba(255,255,255,0.5);
	cursor:pointer;
	max-width: 100px;
	white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  position:relative;
}
#tabs.addAbsolute{
	box-shadow:inset 9px 0px 10px #000;
	background:rgba(31,31,31,0.9);
}
#tabs.atZero{
	background:none !important;
	box-shadow:none !important;
}
#tabs.addAbsolute #addTabButton{
	position:absolute;
	top:0;
	right:0;
	box-shadow: -5px 0px 10px #111;
	background:rgba(51,51,51,0.9);
}
#tabs.addAbsolute #addTabButton.isZero{
	box-shadow: none !important;
}
#tabs li .closeTab{
  float: right;
  position: absolute;
  background: rgba(161,161,161,0.7);
  color: #eee;
  font-size: 12px;
  padding: 2px;
  border-radius: 15px;
  top: 2px;
  right: 2px;
  width: 15px;
  height: 15px;
  text-align: center;
  vertical-align: middle;
  line-height: 14px;
  cursor:pointer;	
}
#tabs li:hover, #addTabButton:hover{
	background:rgba(255,255,255,0.2);
	border-right: 1px solid rgba(255,255,255,0.3);

}
#tabs li .favicon,#bookmarksBar li .icon, #bookmarksBar li .iconPlaceholder{
	width:32px;
	height:32px;
	/*border-radius:32px;
	border: 2px solid #000;*/
	margin: -1px -3px 0px -7px;
	transform:scale(0.5);
	display: inline;
  position: relative;
  float: left;
}
#sessionNotification.hidden{
	display:none;
}
#restartDockerNotification{
	display:none;
	line-height: 100px;
	vertical-align: middle;
	text-align:center;
}
#sessionNotification, #restartDockerNotification{
	float:left;
	width:400px;
	height:100px;
	color:#eee;
	background:rgba(0,0,0,0.7);
	box-shadow: 2px 2px 10px #000;
	z-index:101;
	position:absolute;
	top: calc(50% - 70px);
	left: calc(50% - 200px);
}


#sessionNotification .main{
	width:calc(100%);
	height:calc(100%);
	text-align:center;
	float:left;
	margin-top: 10px;
}
#sessionNotification .option{
	float:right;
	width: 50px;
	text-align:center;
	padding: 10px;
	border: 1px solid rgba(91,91,91,0.7);
	background:rgba(51,51,51,0.7);
	cursor:pointer;
	margin: 10px;
	transition: all 0.1s linear;
}
#sessionNotification .options{
	margin-right:30px;
}
#sessionNotification .option:hover{
	border: 1px solid rgba(91,91,91,0.7);
	background:rgba(91,91,91,0.9);
}
.webviewTab{
	position:absolute;
	z-index:102;
	width:100%;
	left:0px;
	height: calc(100% - 28px);
	top:28px;
}
#bookmarkPage{
  position: absolute;
  left: calc(40% + 69px);
  z-index: 10;
  top: 8px;
  color: #888;
  cursor: pointer;
}
#bookmarkPage:not(.clicked):hover{
	color:#ccc;
}
#bookmarkPage.clicked{
	color:#00a0fe;
}
#tabNav{
	float:left;
	position:absolute;
	top:5px;
	right:10px;
	display:none;
}
.tabNavButton{
	float:left;
	color:#aaa;
	padding: 5px 0px 5px 2px;
	cursor:pointer;
}
.tabNavButton:not(.disabled):hover{
	color:#ccc;
}
.tabNavButton.disabled{
	color:#777;
}
#tabBack{
	transform: rotate(180deg);
	margin-top: -1px;
}
#bookmarksBar{
	float:left;
	width:calc(100% + 45px);
	height: 25px;
	margin-left: -55px;
	overflow:hidden;
	display:none;
}
.windows #bookmarksBar{
	margin-left: 0px;
}
#bookmarksBar.visible{
	display:block;
}
#bookmarksBar ul{
	float:left;
	width: calc(100% - 4px);
	height: 100%;
	padding: 2px;
	list-style-type:none;
	margin:0;
}
#bookmarksBar li{
	float: left;
  margin: 0px 2px;
  background: rgba(255,255,255,0.2);
  color:#ddd;
  padding: 4px 5px;
  height: 16px;
  line-height: 16px;
  vertical-align: middle;	
  cursor:pointer;
  transition: background 0.1s linear;
  max-width: 100px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#bookmarksBar li:hover{
	background: rgba(255,255,255,0.4);
}
#bookmarksBar li .icon,#bookmarksBar li .iconPlaceholder{
	margin: -8px -4px 0px -7px;
}
#bookmarksBar li span.folder{
	display:inline;
	float:left;
	margin: 1px 3px 0 0;
}
.bookmarkFolderUl{
	display:none;
}
#modal{
	float:left;
	width:100%;
	height:100%;
	z-index:300;
	top:0px;
	right:0px;
	background:rgba(0,0,0,0.9);
	position:absolute;
	display:none;
}

.faviconWrap{
	width: 16px;
  height: 16px;
  float: left;
  margin: 0px 6px 0 0;
}
.rippleDisabled .lds-ripple{
	opacity:0;
}
/*loading spinner*/
.lds-ripple {
	margin-top:5px;
  display: inline-block;
  position: relative;
  width: 16px;
  height: 16px;
}
.lds-ripple div {
  position: absolute;
  border: 2px solid #fff;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 8px;
    left: 8px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 2px;
    left: 2px;
    width: 12px;
    height: 12px;
    opacity: 0;
  }
}

