
#viewNameRecord{
	margin:0 auto;
  font-family: "IBM Plex Mono";
  color:#eee;
  text-align:center;
}
.preWrap{
  width:50%;
  float:left;
  height:calc(100% - 13px);
  text-align: left;
  padding-top:11px;
}
.preWrap .label{
  padding:4px 20px 0px 10px;
  text-align:right;
}
.preWrap.windows .label{
  padding:4px 0px 0px 10px;
  text-align:left;
}
pre{
	background: rgba(255,255,255,0.3);
  padding: 5px 10px;
  border: none;
  outline: none;
  font-family: "IBM Plex Mono";
  text-align: center;
  color: #eee;
  overflow-y: scroll;
  height: calc(100% - 50px);
  width: calc(100% - 40px);
  text-align: left;
  margin: 5px 0 0 10px;
}

