[Desktop Entry]
# The type as listed above
Type=Application

# The version of the desktop entry specification to which this file complies
Version=1.0

# The name of the application
Name=HandyBrowser

# A comment which can/will be used as a tooltip
Comment=Handy"Browser HNS-enabled web-browsing"

# The path to the folder in which the executable is run
Path=./

# The executable of the application, possibly with arguments.
Exec=bash -c '"$(dirname "$1")"/HandyBrowser' dummy %k

# The name of the icon that will be used to display this entry
Icon=app_png.png

# Describes whether this application needs to be run in a terminal or not
Terminal=false
